{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

{% if world %}
{{ world|json_script:"world" }}
{% if PC %}
{{ PC|json_script:"PC" }}
{% endif %}
<!-- TODO: make canvas draggable instead of huge -->
<p></p>
<div>
    <center>
        <div class="worldmap-scale-container">
            <button type="button" id="scale_minus" class='map-scale-button fancyminus'></button>
            <input type="range" step="0.0005" min="0.5" max="4" id="scale_range" value="0.2" class="slider"></input>
            <!-- Return to 0.025 - 0.5 when big map texture is ready -->
            <button type="button" id="scale_plus" class='map-scale-button fancyplus'></button>

        </div>
        <a id="PCloc" href = "#">Найти персонажа</a>
        <div class="worldmap-map-container" id="map-container">
            <div class = "cellinfo" id="celldata">
                <p>
                    <strong id="celldata-info-coord"></strong>
                </p>
                <p id ="celldata-info-biome">

                </p>
                <p id ="celldata-info-city">

                </p>
                <p id ="celldata-info-pops">

                </p>
                <table id ="celldata-info-chars">
                    <tr><strong>Здесь находятся:</strong></tr>
                </table>
            </div>
            <canvas id="map" width = "1" height = "1" class="worldmap"></canvas>
        </div>

    </center>

</div>
<script src = "{% static 'map/mapper.js' %}"></script>


{% endif %}
<nav class="menu-dropdown context-menu" id="map-context-menu">
    <ul>

    </ul>

</nav>
{% endblock %}
