

.navbar {
    background-color: #362236;
}

.menu-link{
    color:#aa99aa;
    padding-left:5%;
    vertical-align: middle;
}

.worldmap  {

    border: #862012 double 10px;
    border-radius: 20px;
    background: brown;

}