{% load static %}

<head>
    <title>Candle — experimental trun-based MMO</title>
</head>
<body>
    <div class="navbar">
        <div class="container">
            <a class="brand" href={% url 'home' %}>
                <img src="{% static "common/logo.png" %}" alt="Candle logo">
            </a>
            <a class="menu-link" href="#">
                {{menu.forum}}
            </a>
            <a class="menu-link" href="#">
                {{menu.lore}}
            </a>
            <a class="menu-link" href="#">
                <strong>{{menu.world}}</strong>
            </a>
        </div>
    </div>
    {%block content%}{% endblock %}
</body>