{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section class="frontpage border">
    <h2 class="frontpage header">Левая колонка</h2>
    <p>Тест</p>
    <p>Тест</p>
    <p>Тест</p>
    <p>Тест</p>
    <p>Тест</p>
    <p>Тест</p>
</section>
<div class="frontpage news border">
    <table>
        <tr>
            <td><h1 class="frontpage header">Новости Кэндл</h1></td>
        </tr>
    {% for p in frontpage %}
        <tr>
            <td><h3 class="frontpage header">{{p.headline}}</h3></td>
        </tr>
        <tr>
            <td>{{p.post_time}} {{p.author.username}}</td>
        </tr>
        <tr>
            <td>{{p.content.rendered|truncatechars_html:100}}</td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'showpost' pk=p.id %}">
                    Ответы: {{p.replies.count}}
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
<aside class="frontpage border">
    <h2 class="frontpage header">Правая колонка</h2>
    <p>Тест</p>
    <p>Тест</p>
    <p>Тест</p>
    <p>Тест</p>
    <p>Тест</p>
    <p>Тест</p>
</aside>





{% endblock %}