{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h2>{% trans "Регистрация" %}</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {% trans field.label_tag %}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{% trans field.help_text %}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{% trans error %}</p>
        {% endfor %}
      </p>
      {% endfor %}
    <button type="submit">{% trans "Зарегистрироваться" %}</button>

  </form>
{% endblock %}